.select2-container--default .select2-selection--multiple{
	background-color: white;
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
    cursor: text;
}
.select2-dropdown{
	background-color: white;
    border: 1px solid #d2d6de !important;
    border-radius:  0 !important;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #3c8dbc !important;
    border: 1px solid #3c8dbc  !important;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	color: #dd4b39 !important;
}
#video {
    display: none;
}
.user-panel>.image>img{
    height: 40px !important;
    width: 40px !important;
}